.home {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.feature input[type="text"],
.feature input[type="password"],
.feature textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.formM {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 40vh;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.formM label {
  font-size: 18px;
  margin-right: 10px;
}

.formM input[type="text"],
.formM textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.formM textarea {
  height: 200px;
}

.formM button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.formM button:hover {
  background-color: #0d8ddb;
}


.textlist {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  list-style: none;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.pp {
  margin: 10px 0;
  font-size: 18px;
  line-height: 1.5;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.textbnt2 {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.textbnt2:hover {
  background-color: #0d8ddb;
}

.textbnt3 {
  background-color: #ff9800;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.textbnt3:hover {
  background-color: #f57c00;
}
